<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bing.lan.project.userProvider.mapper.UserLogMapper">
    <resultMap id="BaseResultMap" type="com.bing.lan.project.userApi.domain.UserLog">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="log_type" property="logType" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="login_status" property="loginStatus" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="token_expire_time" property="tokenExpireTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="device_id" property="deviceId" jdbcType="VARCHAR"/>
        <result column="platform" property="platform" jdbcType="VARCHAR"/>
        <result column="channel" property="channel" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM user_log
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.bing.lan.project.userApi.domain.UserLog"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_log
        (log_type, user_id, phone,
         user_name, login_status, token,
         token_expire_time, create_time, ip,
         version, device_id, platform,
         channel, comment)
        VALUES (#{logType,jdbcType=VARCHAR},
            #{userId,jdbcType=BIGINT},
            #{phone,jdbcType=VARCHAR},
            #{userName,jdbcType=VARCHAR},
            #{loginStatus,jdbcType=VARCHAR},
            #{token,jdbcType=VARCHAR},
            #{tokenExpireTime,jdbcType=TIMESTAMP},
            #{createTime,jdbcType=TIMESTAMP},
            #{ip,jdbcType=VARCHAR},
            #{version,jdbcType=VARCHAR},
            #{deviceId,jdbcType=VARCHAR},
                #{platform,jdbcType=VARCHAR},
                #{channel,jdbcType=VARCHAR},
                #{comment,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.bing.lan.project.userApi.domain.UserLog">
        UPDATE user_log
        SET log_type          = #{logType,jdbcType=VARCHAR},
            user_id           = #{userId,jdbcType=BIGINT},
            phone             = #{phone,jdbcType=VARCHAR},
            user_name         = #{userName,jdbcType=VARCHAR},
            login_status      = #{loginStatus,jdbcType=VARCHAR},
            token             = #{token,jdbcType=VARCHAR},
            token_expire_time = #{tokenExpireTime,jdbcType=TIMESTAMP},
            create_time       = #{createTime,jdbcType=TIMESTAMP},
            ip                = #{ip,jdbcType=VARCHAR},
            version           = #{version,jdbcType=VARCHAR},
            device_id         = #{deviceId,jdbcType=VARCHAR},
            platform          = #{platform,jdbcType=VARCHAR},
            channel           = #{channel,jdbcType=VARCHAR},
            comment           = #{comment,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT *
        FROM user_log
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT *
        FROM user_log
    </select>
</mapper>