<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 开启注解扫描 -->
    <context:component-scan base-package="com.bing.lan"/>

    <aop:aspectj-autoproxy/>

    <!-- 支持对静态资源的处理 -->
    <mvc:default-servlet-handler/>

    <!-- 配置文件上传解析器  名字需要固定 因为DispatcherServlet 写死了 MULTIPART_RESOLVER_BEAN_NAME-->
    <!--<bean id="multipartResolver"-->
          <!--class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--&lt;!&ndash; 设置文件上传最大尺寸 &ndash;&gt;-->
        <!--<property name="maxUploadSize" value="11048576"/>-->
    <!--</bean>-->

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**/*"/>
            <bean class="com.bing.lan.project.api.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**/*"/>
            <bean class="com.bing.lan.project.api.interceptor.CommRequestParamsInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>


    <!-- 配置视图解析器 -->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/views/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->

    <!-- 配置freemarker本身 -->
    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!-- freemarker模板的编码 -->
        <property name="defaultEncoding" value="UTF-8" />
        <!-- freemarker找模板的目录 -->
        <property name="templateLoaderPath" value="/WEB-INF/views/" />
        <!-- freemarker的一些基本输出设置 -->
        <property name="freemarkerSettings">
            <value>
                number_format = 0.##
                datetime_format = yyyy-MM-dd HH:mm:ss
            </value>
        </property>
    </bean>

    <!-- 配置viewResolver -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <!-- 把session中的属性直接添加到freemarker的上下文中,我们就可以在页面上直接使用session中的属性 -->
        <property name="exposeSessionAttributes" value="true" />
        <!-- 配置模板文件的后缀 -->
        <property name="suffix" value=".ftl" />
        <!-- 配置输出文件的编码类型 -->
        <property name="contentType" value="text/html;charset=UTF-8" />

        <!--要在ftl页面中使用contextPath，需要在viewResolver中做如下配置 在页面中使用${request.contextPath} 就可获得contextPath-->
        <property name="requestContextAttribute" value="request"/>
    </bean>

    <!--自定义异常处理-->
    <bean id="customExceptionHandler" class="com.bing.lan.project.api.CustomExceptionHandler"/>

    <!--JSON View begin-->
    <bean id="mappingJackson2JsonView"
        class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
        <!--直接返回对象，不包裹-->
        <property name="extractValueFromSingleKeyModel" value="true"/>
        <property name="objectMapper" ref="objectMapper"/>
    </bean>
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>
    <!--JSON View end-->

    <!-- 添加对springMvc支持 否则注解方式失效 -->
    <!--<mvc:annotation-driven>-->
    <!--<mvc:message-converters>-->
    <!--<bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
    <!--<constructor-arg value="UTF-8"/>-->
    <!--</bean>-->
    <!--</mvc:message-converters>-->
    <!--</mvc:annotation-driven>-->

    <!--<mvc:annotation-driven>-->
        <!--<mvc:message-converters>-->
            <!--<bean  id="jsonConverter" class="com.bing.lan.project.api.version.CustomMessageConverter">-->
                <!--<property name="objectMapper" ref="objectMapper"/>-->
            <!--</bean>-->
        <!--</mvc:message-converters>-->
    <!--</mvc:annotation-driven>-->

</beans>